html {
    margin: 0px;
    height: 100vh;
    width: 100vw;
 }

body{
    height: 100vh;
    background-image:linear-gradient(54deg, #121212 , #535343);
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: regular;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #D9D9D9;
    display: flex;
    font-size: 22px;
    font-weight: regular;
    font-family: "Inter", sans-serif;
    width: 477px;
    position: absolute;
    top: 48px;
    left: -13px;
    justify-content: space-evenly;
    border-radius: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.settings-panel{
    background-color: #D9D9D9;
    display: flex;
    font-size: 22px;
    font-weight: regular;
    font-family: "Inter", sans-serif;
    width: 271px;
    position: absolute;
    top: 48px;
    right: 0px;
    justify-content: space-evenly;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.settings-panel a{
    text-decoration: none;
    cursor: pointer;
}



.table{
    width: 1173px;
    height: 621px;
    background-color: #535343;
    border-radius: 22px;
    overflow-y: auto;
    align-items: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

table{
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px;
    border: none;
    width: 1123px;

}

table button {
    background-color: rgb(238, 145, 145);
    color: rgb(35, 35, 35);
    border: none;
    font-family: 'inter';
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.action-btn{
    background: none;
    border: none;
    width: 80px;

}

.action-btn button:hover{
    background-color: rgb(138, 76, 76);
    color: azure;
}

table td, th {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 6px;
    text-align: center;
    font-size: 16px;
    height: 41px;
    
}



a {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.navbar a.current {
    background-color: rgba(207, 102, 121, 0.49);
    border-radius: 46px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.choice-navbar {
    background-color: #D9D9D9;
    display: flex;
    border-radius: 22px;
    font-weight: regular;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    width: 599px;
    position: absolute;
    top: 90px;
    left: -15px;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}

.current {
    background-color: rgba(207, 102, 121, 0.49);
    border-radius: 46px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.department, .major, .course, .students{
    cursor: pointer;
}

.forms-field {
    width:533px;
    height: 635px;
    background-color: #535343;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    flex-direction: column;
}


.forms-field form{
    display: flex;
    flex-direction: column;
}

form{
    align-items: center;
}

form input, select {
    display: flex;
    border-radius: 40px;
    margin: 10px;
    padding-left: 13px;
    height: 53px;
    width: 376px;
}

form button {
    width: 260px;
    margin-top: 30px;
    border-radius: 21px;
    border: none;
    padding: 7px;
    cursor: pointer;
}

.prompt {
    background-color: hsl(348, 25%, 28%);
    color: #D9D9D9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    left: 800;
    top: 400;
    border-radius: 21px;
    font-family: 'inter';

}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-box button{
    margin: 10px;
    background-color: #544545;
    color: #D9D9D9;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-box button:hover{
    background-color: #fd9292;
    color: #121212;
}